html {
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #11142a;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  
}

.header {
    width: 100%;
    height: 64px;
}

.identificador {
    font-size: 24px;
    font-weight: bold;
    color: #b6bbc4;
    margin: 0;
    padding: 0;
}


.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #b6bbc4;



}
.btn-open {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin: 0;

}


.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 20px;
    font-size: 14px;
}

.menu-link {
    color: #b6bbc4;
    transition: color .5s;
}

.menu-link:hover {
    color:#e2e5ec;
    border-left:2px solid #00BFF3;
    border-right:2px solid #00BFF3;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.3vw;
}



.about-me {
    height:auto;
    margin-bottom: 12vh;
    position: relative;

}

.switch {
  
    float: right;
    position: relative;
    top: 2vh;
    border: 1px dashed #b6bbc4;
    border-radius: 50%;
    cursor: pointer;
}


.seccion1 {
flex-wrap: nowrap;
height: auto;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 15vh;
    display: flex;



}

.caja1 {

    justify-content: center;

    

    width: 65%;
    color: #b6bbc4;
}

.caja_botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 8vh;
    height: 6vh;

}

.bx-download {
    margin-left: 1vw;
}

.btn-one {
    background-color: #31304d;
    border-radius: 1vh;
    color: #b6bbc4;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45%;
    height: 80%;
    border: 2px dashed #b6bbc4;
    cursor: pointer;
}

.subtitle-proyects {
    width: 90%;

    border-radius: 1vh;
    background: none;
    justify-content: center;
    padding-bottom: 1vh;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #b6bbc4;
}

.caja2 {
    width: 32%;
    display: flex;
    flex-direction: column;

    
    align-items: center;
    background-color: #161a301a;

}


.cabezote-img {
    width: 100%;
    border: 0.5vh dashed #b6bbc4;
    border-radius: 50%;
    background-color: #31304d;
    padding: 1vh;
}




.txt-descriptivo {
    color: #b6bbc4;
    margin: 0;
    padding-top: 2vh;
    align-content: center;
    display: flex;
    font-family: 'Montserrat';
    justify-content: baseline;
    font-size: 1rem;

}

.txt-descriptivo-dark {
    color: #b6bbc4;
    margin: 0;
    padding-top: 2vh;
    align-content: center;
    display: flex;
    font-family: 'Montserrat';
    justify-content: baseline;
    font-size: 1rem;
}

.titular {

    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    padding: 0;

}

.txt1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;


}

.subtitulos {
  
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
  
    color: #b6bbc4;

    /* color:rgb(28, 148, 234); */
    padding: 0;
    margin-bottom: 1vh;

}


.light {
    font-weight: 300;
    color: #b6bbc4;
}

.light-2 {
    font-size:small;
        color: #161a30;
        font-weight: 300;
}

.linea {
    width: 100%;

    padding: 0;
    border-bottom: 2px dashed #b6bbc4;
    padding-top: 1vh;

}

.linea1 {
    width: 100%;

    padding: 0;
    border-bottom: 2px dashed #b6bbc4;


}

.linea2 {
    width: 70%;

    padding: 0;
    color: #b6bbc4;


    border-bottom: 1px solid #971d46;
}

.linea3 {
    width: 90%;
    padding: 0;
    color: #b6bbc4;



    border-bottom: 2px solid #31304d;
}


.skills {
   height: auto;
  

}





.carrusel {
    border-top: 2px dashed #b6bbc4;
    border-bottom: 2px dashed #b6bbc4;
    padding: 3vh;
    display: flex;
    
    align-items: center;
    margin-bottom: 7vh;
    min-height: 20vh;
 

}

.carrusel-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.carrusel-skill {
    align-items: center;
    justify-content: center;
    color: #b6bbc4;
    width: auto;

}

.bxl-html5, .bxl-figma, .bxl-css3, .bxl-javascript {
    font-size: 80px;
    cursor: pointer;
    opacity: 0.5;
    transition: all  .3s;
}

.bxl-html5:hover, .bxl-figma:hover, .bxl-css3:hover, .bxl-javascript:hover {
  font-size: 81px;
    opacity: initial;
    color: #00BFF3;

}

.controlador-izquierdo,
.controlador-derecho {
    color: #b6bbc4;
    width:auto;
    cursor: pointer;
   
    align-items: center;
    display: flex;

}

.bx-chevron-right, .bx-chevron-left {
    font-size: 70px;
}

.piede-pagina {
    color: #b6bbc4;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;

}

.proyects {
    height: 40vh;
    margin-top: 7vh;
   
}

.proyects-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
   




}

.proyects-list {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    flex-direction: column;
    padding: 0;
    width: 30%;
    align-items: center;
    display: flex;


    border-radius: 2vh;
    justify-content: space-between;


    background-color: #31304d;
    border-radius: 1vh;
    ;




}

.proyects-img {
    width: 100%;
    height: 200px;
    padding: 1vh;
    cursor: pointer;
    font-family: 'Montserrat' sans-serif;

}

.habilities {
    display: flex;

align-items: center;
height: auto;

  

   

}

.habilities-cont {
   
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 height: auto;



   
 
}

.habilities-cont-2 {
    margin-top: 5vh;
    display: flex;
   height: auto;
    width: 100%;
    justify-content: space-between;
}

.habilities-ul {

width: 40%;
padding: 0;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
padding: 1em;
padding-left: 0;


    list-style: none;
    gap: 1em;
   
    align-items: center;
  
   



}

.habilities-li {
    background-color: #31304d;;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1vh;


}

.bx-cog, .bx-group, .bx-landscape, .bx-donate-heart {
    font-size:30px;
padding: 1vh;
color: #b6bbc4;





  
}




.icono-delgado {
   border: 2px dashedr rgb(28, 148, 234);
   border-radius: 50%;
}

.habilities-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habilities-txt {
    margin-top: 7vh;
  width: 100%;
    display: flex;
    justify-content: space-around;
  
 
    

}

.habilities-subtitle {
    color: #b6bbc4;
    width: 40%;

 
    text-align: end;
}

.habilities-parrafo {
    width: 60%;
    margin-left: 2.5%;
    color: #b6bbc4;

}


/* CSS SLIDER */

.carousel {
    width: 55%;

 
  
}



.review {

    border-radius: 1vh;

height:40vh ;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;



}

.container-review {
    background-color: #b6bbc4;

}

.section-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    margin-top: 2vh;

    padding: 0;
    background-color: #b6bbc4;
    box-shadow: -8px 0px 30px 16px rgba(0, 0, 0, 0.073);


}

.review-list {
    list-style-type: none;
    color: #161a30;
    margin: 0;
    padding: 1vh;
    display: flex;
    width: 35%;
    justify-content: space-around;
    border-radius: 1vh;
    align-items: center;
    height: 80%;



}

.review-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1vh;

    border: 2px dashed #161a30;
    padding: 2px;
}

.review-txt {
    width: 70%;
    border-left: 1.5px solid #161a30;
    border-right: 1.5px solid #161a30;
    border-radius: 1vh;
    padding: 1vh;
    justify-content: center;
    background-color: white;



}

.review-names {
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1;
    flex-direction: column;
    display: flex;
}

.review-sub {
    margin-top: 0;
    margin-bottom: 1vh;
    font-weight: 400;
    padding: 0;
}

.review-reactions {

    font-size: 10px;


}

.review-coments {
    height: 60%;
    line-height: 1.2;
    font-size: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container-review-superior {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bx-heart {

    font-size: medium
}

.contacts-footer {

    margin-top: 5vh;
    margin-bottom: 5vh;

    padding: 0;

}

.contacts-container {

    height: 50vh;

    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.contacts-ul {
    height: 90%;

    width: 50%;
    padding: 0;
    align-items: baseline;

    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.contacts-list {



    flex-direction: row;
    display: flex;
    align-items: center;

    color: #b6bbc4;
    list-style: none;
    margin: 0;
    padding: 0;

}

.bx-mobile-alt,
.bx-envelope,
.bx-map {
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    margin-left: 0;
    margin-right: 3vw;
    font-size: 30px;

}

.form {
    width: 40%;
    height: 100%;
    background-color: #31304d;
    border-radius: 1vh;
    color: #b6bbc4;
    box-shadow: -8px 0px 30px 16px rgba(0, 0, 0, 0.073);

    font-family: 'Montserrat';

}

.content-form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contacts-subtitles {
    font-size: medium;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;

    margin: 0;
    padding: 0;


}

.contacts-txt {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
}

.contacts-register {
    text-align: center;
    height: 5vh;
    border-radius: 1vh;
    border: none;
    background-color: #b6bbc4;

}

.button-send {
    width: 50%;
    background: none;
    height: 5vh;
    border: 2px dashed #b6bbc4;
    padding: 0;
    color: #b6bbc4;
    background-color: #161a30;
    border-radius: 1vh;
    cursor: pointer;
}


.footer-contacts {
    display: flex;
    flex-direction: row;
    width: 90%;

    list-style: none;
    justify-content: space-around;
    color: #b6bbc4;
    padding: 0;
    align-content: center;
}

.enlaces {
    color: #b6bbc4;
}

.enlaces:hover {
    color: #00BFF3;
}


.bxl-whatsapp,
.bxl-behance,
.bxl-github,
.bxl-linkedin-square {
    font-size: 30px;
    margin: 0;
}



















@media only screen and (max-width: 767px) {

    body {

    }

    .container {
      
    }

    .menu {
   
        position: fixed;
        top: 64px;
        left: -100%;
        background-color: #31304d ;
        width: 95%;
      margin-left: 2.5%;
        height: calc(100vh - 64px);
        padding: 30px 40px;
        transition: left .5s;
        z-index: 3;
      
    }

    .show-menu {
        left: 0;
    }

    .menu-list {
       flex-direction: column;
       row-gap: 20px;
      
    }

    .menu-link {
        font-weight: 700;

    }

    .nav-icon {
        font-size: 30px;
        color: #b6bbc4;
    }

    .barra-lateral {
        right: 2vh;
        top: 2vh;
    }
   
   
    .btn-open {
        background: none;
        display: flex;
        align-items: center;
        border: none;
       
    }

   


    .titular {
        margin-top: 2vh;
        font-size: 3rem;
    }

    .seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin: 0;
        height: 90%;
        align-items: center;
    }

    .about-me {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 4vh;
    
       


    }

    .caja1 {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja2 {
    justify-content: center;
    align-items: center;
        width: 60%;
        margin-top: 7vh;
    
     
    }

    .caja_botones {
        margin-top: 3vh;
        width: 100%;


    }

    .skills {
        width: 100%;
       
        flex-wrap: nowrap;
       
       
       
    }

    .piede-pagina {
        font-size: 10px;
    }

    .carrusel {
        align-content: center;
        min-height: 12vh;

    }

    .carrusel-skill {

    }

    .carrusel-list {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .bxl-html5, .bxl-figma, .bxl-css3, .bxl-javascript {
        font-size: 60px;
    }

    .bxl-html5:hover, .bxl-figma:hover, .bxl-css3:hover, .bxl-javascript:hover {
        font-size: 68px;
    }
  
  
    .proyects {
        justify-content: space-around;
        height: auto;
        margin-bottom: 5vh;
 
     
   
      
    }

    .proyects-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      
    padding: 0;
        margin: 0;
       
      
        


    }

    .proyects-list {
        width: 100%;
      
        display: flex;
        margin: 1vh;
    

    }

    .proyects-img {
        height: 30%;
    }

    .section-reviews {
        flex-direction: column;
        height: 100%;
        box-shadow: none;
    }

    .review {
        border-radius: 0;
        height: 50vh;
      
        background-color:#b6bbc4;
    }

    .review-list {
        width:100%;
        height: 12vh; 
      
    
    }

    .review-txt {
        height: 100%;
        background-color: #e2e5ec;
        
    }
    .container-review-superior {
      
       height:4vh;
       
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .review-sub {
       display: none;
    }

    .review-photo {
    width: 70px;
    height: 70px;
    background-color: #e2e5ec ;
    
    }

    .bx-heart {
        font-size: small;
    }

   

    .txt-descriptivo-dark {
        color: #161a30;
    }

    .linea {
        border-color: #161a30;
    }

    .bx-mobile-alt,
.bx-envelope,
.bx-map {
   
    font-size: 30px;

}

.contacts-container {
    height: 90vh;
    flex-direction: column-reverse;
  
  
    align-items: center;
}

.contacts-footer {
    margin-bottom: 0;
    padding: 0;
}
.contacts-ul {
    height: 55%;
    width: 100%;
}

.form {
    width: 100%;
    height: 80%;
    margin-bottom: 2vh;
}

.footer-contacts {
    width: 60%;
    margin: 0 auto;
}

.contacts-register {
 
    width: 60%;
    text-align: center;
    justify-content: center;
}

.linea3 {
    width: 100%;
    border-bottom: 2px dashed #b6bbc4;
}

.bxl-whatsapp,
.bxl-behance,
.bxl-github,
.bxl-linkedin-square {
    font-size: 30px;
    margin: 0;
}
.habilities {
    margin-bottom: 7vh;
   
}

.habilities-txt {
    color: #b6bbc4;
    flex-direction: column;
    font-family: 'Montserrat' sans-serif;
}

.habilities-subtitle {
    width: 100%;
    text-align: center;
}

.habilities-parrafo {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 2vh;
    font-weight: 300;
}

.habilities-cont-2 {
    flex-direction: column;
}
.habilities-ul {
    width: 100%;
    padding: 0;
}

.habilities-li {
    height: 100px;
}

.carousel {
    margin-top: 3vh;
    
    width: 100%;
}
}


@media only screen and (min-width: 600px) and (max-width: 1024px){
    .about-me {
        height: auto;
        margin-bottom: 3vh;
    }

    .barra-lateral {
     display: none;
    }

}